// background colors
$mainBgColor: rgb(203, 78, 78);
$mainBgColor: #2E2E2E;
$mainBgColor: #2E2E2E;
$mainBgColor: #2E2E2E;
$mainBgColor: #5666E0;
$mainBgColor: #8E8E8E;
$mainBgColor: #2E2E2E;
$mainBgColor: #5666E0;
$mainBgColor: #2E2E2E;
$mainBgColor: #2E2E2E;

// Shadows
$sidebarShadow: 0 1px 6px #000000B2;
$sidebarTabActiveShadow: 0px 1px 6px #000000B2;
$fileTabShadow: 0px 1px 6px #000000B2;

// BorderColors
$tabBarBorderColor: #2E2E2E;
$labelBorderColor: #2E2E2E;
$hostTabBorderColor: #5666E0;
$slider_color: #5666e0;

// Colors
$white: #fff;

// Font colors
$messageTimeColor: #6C6C6C;

// Font sizes
$labelPanelSize: 18px;
$labelPanelSize: 15px;
$labelPanelSize: 15px;
$labelPanelSize: 11px;
$labelPanelSize: 11px;
$labelPanelSize: 12px;
$labelPanelSize: 15px;
$labelPanelSize: 12px;
$labelPanelSize: 12px;
$labelPanelSize: 14px;
$labelPanelSize: 12px;
$labelPanelSize: 20px;
$labelPanelSize: 15px;

$monacoBackground: #1e1e1e;

// Font family
$mainFont: 'Montserrat', sans-serif;
