<div
  [activeClass]="'stream-container-fullscreen'"
  appIsFullscreen
  appIsIframe
  class="stream-container"
>
  <div>
    <app-sidebar appIsFullscreen></app-sidebar>
    
    <button
      class="my_test_btn"
      type="button"
      (click)="showMessage()"
    >
      Click me
    </button>

    <button>
      class='my_test_btn'
      type="button"
      (click)="showMessage()"
    </button>

  </div>
  <app-workspace>
    <span>Hello world</span>
  </app-workspace>
  <app-webcam
    [source]="videoSource"
  ></app-webcam>
</div>
