.stream-container {
  width: 100%;
  height: 100vh;
}

.stream-container-fullscreen {
  display: grid;
  grid-template-columns: 20.3vw 79.7vw;
}

.controller {
  position: absolute;
  right: 0;
  bottom: -8vh;
  left: 0;
  margin: auto;
  width: 100%;
  opacity: 0;
  transition: .6s;
  z-index: 4;
}

.my_big_test_button{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  outline: none;
  color: rgb(219, 194, 33);
}

.active {
  opacity: 1;
  bottom: 0;
  transition: .6s;
}

.fullscreen {
  margin-right: 10px;
}
